externalTerminal=True 
autoInclude_Sync=False 
dll_Export=C:\Users\User\Desktop\Drive Mirror\Code\vscode\C++\Pandora Engine\.dllib
dll_Import=
#After editing args use [Rebuild Necessary files]
debugArgs=-Wall -Wextra -g -std=c++23 -Og
releaseArgs=
#use "g++ -v --help" in terminal for all options and "g++ --help=optimizers" for optimizer options
#
#
#optimization options (just a few of them):
#-fexceptions                Enable exception handling.
#-fexcess-precision=[fast|standard|16] Specify handling of excess floating-point precision.
#-fexpensive-optimizations   Perform a number of minor, expensive optimizations.
#-ffast-math                 This option lacks documentation.
#-ffinite-loops              Assume that loops with an exit will terminate and not loop indefinitely.
#-ffinite-math-only          Assume no NaNs or infinities are generated.
#-ffloat-store               Don't allocate floats and doubles in extended-precision registers.
#-O<number>                  Set optimization level to <number>.
#-Ofast                      Optimize for speed disregarding exact standards compliance.
#-Og                         Optimize for debugging experience rather than speed or size.
#-Os                         Optimize for space rather than speed.
#-Oz                         Optimize for space aggressively rather than speed.
#-faggressive-loop-optimizations Aggressively optimize loops using language constraints.
#-falign-functions           Align the start of functions.
#
#
#The <g++ path> is basicly the path where the "g++" and "gcc" is.
#To create a GUI app use "-mwindows"
#To use GDI+ app use "-lgdiplus" after the source and object file
#To include dlls what used use "-static"
#These are the debug commands:
app_prebuild_command=<g++ path>g++ <args> -c '../sources/*.<extension>' -I '../headers' -I '../../.dependencies/headers' <include_headers>
app_build_command=<g++ path>g++ <args> '<name>/.temp/*.o' -o '.bin/<name>/<name>.exe'<dlls>
dll_prebuild_command=<g++ path>g++ <args> -c -shared '../sources/*.<extension>' -I '../headers' -I '../../.dependencies/headers'
dll_build_command=<g++ path>g++ <args> '<name>/.temp/*.o' -shared -o '.bin/<name>.dll'